body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	line-height: 1.3em;
	background: #ffffff;
	color: #222222;
	margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

img {
	border-style: solid;
	border-color: #222222;
	border-width: 1px;
}

.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-around;
	width: 960px;
}

.item {
	margin: auto;
	width: 100px;
}

.plain {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	line-height: 1.3em;
	background: #ffffff;
	color: #222222;
	width: 960px;
	margin: 20px;
}

a:link {color: #222222}
a:visited {color: #222222}
a:active {color: #222222}
