body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.8em;
	line-height: 1.5em;
	background: #ffffff;
	color: #222222;
	margin: 20px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

img {
	border-style: solid;
	border-color: #222222;
	border-width: 1px;
}

a:link {color: #222222}
a:visited {color: #222222}
a:active {color: #222222}
